{% extends "base.html" %}

{% block content %}

<!-- About Section -->
<div class="container-fluid bg-light" id="about">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          Bake n Ice is a cake and ice cream shop located in Pipariya, India.
          Our cakes and ice cream are made with the freshest and finest
          ingredients, making us the best cake and ice cream shop in town.
          Whether you're in the mood for a sweet treat or a special dessert,
          Bake n Ice has got you covered.
        </p>
      </div
      {% endblock %}